@{
    var book = "";
    var chapter = "";
    var verse = "";
    var content = "";
    var scriptureId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            scriptureId = Request.QueryString["ID"];
            var db = Database.Open("WebPagesScriptures");
            var dbCommand = "SELECT * FROM Scriptures WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, scriptureId);
            if (row != null)
            {
                book = row.Book;
                chapter = row.Chapter;
                verse = row.Verse;
                content = row.Content;
            }
            else
            {
                Validation.AddFormError("No movie was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No movie was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        scriptureId = Request.Form["scriptureId"];
        var db = Database.Open("WebPagesScriptures");
        var deleteCommand = "DELETE FROM Scriptures WHERE ID = @0";
        db.Execute(deleteCommand, scriptureId);
        Response.Redirect("~/Scriptures");
    }
}
<html lang="en">
<head>
    <title>Delete a Movie</title>
    <style type="text/css">
        form {
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            width: 50%;
            background-color: #FFF2E7;
            padding-bottom: 15px;
        }
        .main_title {
            font-family: Garamond Serif serif;
            font-weight: bold;
            padding-top: 25px;
            text-align: center;
            letter-spacing: 5px;
            color: #06404e;
        }
        legend {
            font-size: 20px;
            text-align: center;
            position: relative;
            width: 100%;
            display: block;
            font-family: Palatino, serif;
            letter-spacing: 10px;
        }
         .btn {
             width: 22%;
             background: transparent;
             border: 3px solid #B9B1A8;
             text-decoration: none;
             color: #B9B1A8;
             font-weight: 800;
             transition: all 0.5s;
         }
        .btn:hover {
            border-color: #3D3C3A;
            color: #3D3C3A;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 class="main_title">Delete a Movie</h1>
    @Html.ValidationSummary()

    <form method="post">
        <fieldset>
            <legend>Scriptural Information</legend>

            <p>
                <span>Reference:</span>
                <span>@book</span>
                <span>@chapter</span> :
                <span>@verse</span>
            </p>
            
            <p>
                <span>Content:</span>
                <span>@content</span>
            </p>

            <input type="hidden" name="scriptureid" value="@scriptureId" />
            <p><input class="btn" type="submit" name="buttonDelete" value="Delete Scripture" /></p>
        </fieldset>
    </form>
<p><a href="~/Scriptures.cshtml">Return to list of favorite scriptures</a></p>
</body>
</html>
